<h1>Stian Fredrikstad</h1>
<% if I18n.locale.to_s == 'no' %>
<ul>
  <li>F&oslash;dt: 27.05.1986</li>
</ul>
<p>Jeg er en mann p&aring; 25 &aring;r som studerer Datateknikk ved NTNU. Jeg har valgt &aring; g&aring; linjen Komplekse Datasystemer og g&aring;r n&aring; p&aring; mitt 5 &aring;r.</p>
<% else %>
<ul>

<ul>
<p></p>

<% end %>
