<% title "Stian Fredrikstad"%>
<% if I18n.locale.to_s == 'no' %>
<h3>Introduksjon</h3>
<ul>
  <li>F&oslash;dt 27.05.1986</li>
  <li>Fra Gran</li>
  <li>Bor i Trondheim</li>
</ul>

<p>
  Jeg studerer Datateknikk ved NTNU i Trondheim hvor jeg har valgt fordypning mot linjen Komplekse Datasystemer. Jeg er for tiden på mitt 5. år hvor jeg nå i høst jobber på en prosjektoppgave som skal lede til en masteroppgave.
</p>
<p>
  Av erfaring så har jeg jobbet en del med webprogrammering og systemutvikling i forhold til ISFiT (isfit.org), men også andre kortere prosjekter som sommerjobb hos Betradar og vedlikehold av fagsidene i IT-grunnkurs. Jeg har også jobbet en del med innebygde systemer hos Nordic Semiconductor og i tillegg baserer prosjektoppgaven denne høsten seg på en prosessor som brukes i innebygde systemer. Ellers har jeg jobbet mye med programmering i forskjellige former både på fritid og på skolen, og jeg har vært innom og kan programmere i C, C++, C#, Java, Python, Ruby og i tillegg noe assembly for Atmel og Intel.
</p>
<p>
  På fritiden, så bruker jeg tiden for det meste på å trene i Tenshi Tsume (tenshi-tsume.com) og videreutvikling av systemer i ISFiT, i tillegg prøver jeg  å være så sosial som mulig.
</p>
<h3>Kontakt</h3>
<% else %>
<h3>Introduction</h3>
<ul>
  <li>Born 27.05.1986</li>
  <li>From Gran</li>
  <li>Lives in Trondheim</li>
</ul>
<p>
  I study Computer science at NTNU in Trondheim where I have chosen specialization towards Complex Computer Systems. I'm currently in my 5th year where I this autumn work on  a project which will lead to a master thesis.
</p>
  Of experience I have worked a bit with web programming and system development in relation to ISFiT (isfit.org), as well as other shorter projects like my summer job with Betradar and maintenance of the IT basic course website. I have also worked some with embedded systems at Nordic Semiconductor and the project this fall is based on a processor used in embedded systems. Otherwise I have worked a lot with programming in different forms in both my spare time and at school, and I have tried and can program C, C + +, C #, Java, Python, Ruby, in addition, some assembly for Atmel and Intel.
</p>
<p>
  In my spare time, I use most of the time to train Tenshi Tsume (tenshi-tsume.com) and further development of the systems in ISFiT, in addition I try to be as social as possible.
</p>
<h3>Contact</h3>
<% end %>
<p>
<ul>
<li>Email: stian (a) fredrikstad.de</li>
<li>Phone: +4741293272</li>
</ul>
<%= link_to (image_tag "connect_linkedin.png", :height=>"40px"),"http://no.linkedin.com/pub/stian-fredrikstad/7/16/1" %>
<%= link_to (image_tag "github_logo.png", :height=>"40px"), "http://github.com/stianf"%>
</p>

